@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Light Mode */
	--background-color: #faf3ff;
	--text-color: #5a189a;
	--accent-color: #7b2cbf;
	--accent-color-light: #9d4edd;
	--box-shadow-color: rgba(0, 0, 0, 0.1);
	--image-scale: 1.2;

	/* Light Mode */
	/* --dark-background-color: #333333;
	--dark-text-color: #f5f5f5;
	--dark-accent-color: #cf9fff; */
}

/* .light {
	background-color: #e0aaff;
	color: #10002b;
}

.dark {
	background-color: var(--background-color);
	color: var(--text-color);
} */

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
	text-align: center;
}

header {
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

nav {
	background-color: var(--background-color);
	padding: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

h1 {
	color: var(--text-color);

	margin: 0px;
	padding: 10px;
}

a {
	color: var(--text-color);
	text-decoration: none;
	padding: 10px;
	transition: ease-in-out 0.2s;
}

a:hover {
	color: var(--accent-color);
	scale: 1.1;
}

.skillswrapper {
	display: grid;
	padding: 0px;
	margin: 0px;
	grid-template-columns: repeat(5, 1fr);
}

.svgwrapper {
	scale: 0.3;
	padding: 0px;
	fill: aliceblue;
	transition: ease-in-out 0.2s;
	filter: contrast(0%);
}

.svgwrapper:hover {
	scale: 0.5;
	filter: contrast(100%);
}

.tech {
	border: solid 1px var(--accent-color);
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
}

.tech:hover {
	background-color: var(--background-color);
	color: var(--accent-color);
}

.project {
	padding: 10px;
	margin: 10px;
	border: solid 1px var(--accent-color);
	border-radius: 20px;
}

.links {
	display: inline-flex;
	flex-direction: row;
}
